<div class="container">
  <div class="card mb-3" style="max-width: auto">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ20-GLWwXrgIfJw8Hp_YyB8QW1KRfnoWt0UgqeM-Khg_gk2Vmqa-swEvIwn-OEd6J9rk&usqp=CAU"
          class="img-fluid rounded-start mx-auto d-block"
          style="width: 10rem"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title text-center fs-1">
            ZONAS Y DISTRITOS MILITARES EJERCITO NACIONAL
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container mt-3">
  <div *ngIf="distritos != null; else espera">
    <table class="table table-dark table-striped" border="1">
      <thead>
        <tr>
          <td>Zona</td>
          <td>Zona -DIM</td>
          <td>Dirección</td>
          <td>Ciudad</td>
          <td>Teléfono</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dist of distritos">
          <td>{{ dist.zona }}</td>
          <td>{{ dist.zona_dim }}</td>
          <td>{{ dist.direccion }}</td>
          <td>{{ dist.ciudad }}</td>
          <td>{{ dist.telefono }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #espera>Esperando datos...</ng-template>
</div> -->
<div class="container mt-3">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" class="table table-striped" border="1">
    <thead>
      <tr>
        <th>Zona</th>
        <th>Zona -DIM</th>
        <th>Dirección</th>
        <th>Ciudad</th>
        <th>Teléfono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dist of distritos">
        <td>{{ dist.zona }}</td>
            <td>{{ dist.zona_dim }}</td>
            <td>{{ dist.direccion }}</td>
            <td>{{ dist.ciudad }}</td>
            <td>{{ dist.telefono }}</td>
      </tr>
    </tbody>
  </table>
</div>
